.outer-div{
    width: 1000px;
    height: 1000px;
    background-color:  rgb(235, 235, 235);
}

.dragger{
    width: 200px;
    height: 50px;
    position:absolute;
    background-color: rgb(253, 253, 253);
    cursor: pointer;
    border-radius: 3%;
}

.line-connector{
    height: 12px;
    width: 1px;
    background-color: rgb(7, 6, 6);
    position: absolute;
    top: 20%;
    left: 62%;
}

.action-label{
    padding: 15px 15px;
}