.outer-div{
    width: 800px;
    height: 500px;
    background-color:  rgb(235, 235, 235);
    display:block;
    padding: 10% 10% ;
}

.dragger{
    width: 200px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    cursor: pointer;
    border-radius: 3%;
}


.line-connector{
    height: 12px;
    width: 1px;
    background-color: rgb(170, 170, 170);
    z-index: 10;
    position: relative;
    left: 100px;
}

form{
    margin: 10px;
}
form > div{
    margin-top: 10px;
}
button{
    margin-top: 25px;
}

label{
    font-size: 9px;
}


.modal{
    background-color: red;
}



.action-name:hover{
    border-bottom: 1px solid black;
}