.outer-div{
    width: 1000px;
    height: 1000px;
    background-color:  rgb(235, 235, 235);
}

.dragger{
    width: 80px;
    height: 80px;
    position:absolute;
    background-color: orange;
    cursor: pointer;
    border-radius: 10%;
}

.action-label{
    padding: 15px 15px;
}